body {
    background: linear-gradient(180deg, rgb(253, 212, 234), rgb(242, 130, 190));
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingBlock {
    background-color: transparent;
    padding: 0px;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 115px;
}

.heading {
    color: rgb(216, 37, 213);
    text-align: center;
    font-size: 40px;
}

.turnBlock {
    text-align: center;
    font-size: 15px;
}

.buttons {
    width: 279px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    background: aliceblue;
    border: none;
    color: rgb(216, 37, 213);
    font-size: 40px;
    width: 85px;
    height: 85px;
    border-radius: 25px;
    margin: 4px;
}

button:hover {
    background-color: rgb(234, 149, 233);
    cursor: pointer;
}

.board {
    justify-content: center;
    align-items: center;
    background-color: cyan;
    padding: 20px;
    border-radius: 10px;
}

#restartButton {
    width: 100px;
    font-size: 15px;
    height: 32px;
    border-radius: 8px;
}

#restartButton:hover {
    background-color: rgb(253, 212, 234);
    cursor: pointer;
}

.restart {
    text-align: center;
}

