body {
    background: linear-gradient(180deg, rgb(253, 212, 234), rgb(242, 130, 190));
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.headingBlock {
    background-color: transparent;
    padding: 0;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 115px;
}

.heading {
    color: rgb(216, 37, 213);
    text-align: center;
    font-size: 40px;
}

.turnBlock {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.buttons {
    width: 279px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    background: aliceblue;
    border: none;
    color: rgb(216, 37, 213);
    font-size: 40px;
    width: 85px;
    height: 85px;
    border-radius: 25px;
    margin: 4px;
}

button:hover {
    background-color: rgb(163, 255, 255);
    cursor: pointer;
}

.board {
    justify-content: center;
    align-items: center;
    background-color: cyan;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px rgb(35, 192, 227);
}

#restartButton {
    width: 120px;
    font-size: 18px;
    height: 38px;
    border-radius: 8px;
    font-family: "Poppins";
}

#restartButton:hover {
    background-color: rgb(253, 212, 234);
    cursor: pointer;
}

.restart {
    text-align: center;
}

.score {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    border-radius:10px;
    font-size: 18px;
    height: 62px;
    box-shadow: 5px 5px 20px 0px rgb(35, 192, 227);
}

.scoreNumber {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}


/* Media queries for smaller screens */
@media only screen and (max-width: 600px) {
    .heading {
        font-size: 1.5em;
    }

    .turnBlock {
        font-size: 0.8em;
    }

    button {
        font-size: 1em;
        width: 3em;
        height: 3em;
        margin: 0.3em;
    }

    #restartButton {
        width: 6em;
        font-size: 0.8em;
        height: 2.5em;
    }

    .score {
        font-size: 0.8em;
        height: 2.5em;
    }
}