body {
    background-color: rgb(253, 212, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headingBlock {
    background-color: rgb(253, 212, 234);
    color: black;
    padding: 0px;
    border-radius: 10px;
    margin-top: 200px;
}

.heading {
    color: rgb(216, 37, 213);
    text-align: center;
}

.buttons {
    width: 279px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    background-color: aliceblue;
    border: none;
    color: rgb(216, 37, 213);
    font-size: 40px;
    width: 85px;
    height: 85px;
    border-radius: 25px;
    margin: 4px;
}

button:hover {
    background-color: rgb(234, 149, 233);
}

.board {
    justify-content: center;
    align-items: center;
    background-color: cyan;
    padding: 20px;
    border-radius: 10px;
}

#restartButton {
    /* width: 270px;  */
    width: 100px;
    font-size: 15px;
    height: 35px;
}

#restartButton:hover {
    background-color: rgb(234, 149, 233);
}


/* move restart to the right and add "Score: " to the left 